@import "tailwindcss";



@theme {
    --spacing-container: 1320px;
    --font-open: "Open Sans", sans-serif;
    --color-black50 : #D9D9D9;
      --bg-banner: url('/src/assets/Frame1.png');
    
    
}

.bg-banner {
  background-image: var(--bg-banner); 
  
}